In [1]:
# Basics and Plotting
import pandas as pd
import numpy as np
import scipy as scp
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import seaborn as sns
from itertools import chain, combinations
import csv

# Sklearn Models
import sklearn.linear_model as skl_lm
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.linear_model import Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, cross_val_score, cross_validate
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression

# Alternative models
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as smf

C:\Users\jpric\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\jpric\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [2]:
dataset = pd.read_csv("https://raw.githubusercontent.com/jprichmond20/2020ElectionStudy/main/anes_timeseries_2020_csv_20220210.csv")

<ipython-input-2-6f4411b5f8d5>:1: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("https://raw.githubusercontent.com/jprichmond20/2020ElectionStudy/main/anes_timeseries_2020_csv_20220210.csv")

In [3]:
for skip_blank_lines in [True, False]:
    print("Skip Blank Lines:", skip_blank_lines)
    df = pd.read_csv("https://raw.githubusercontent.com/jprichmond20/2020ElectionStudy/main/anes_timeseries_2020_csv_20220210.csv", skip_blank_lines=skip_blank_lines)

    print("Row count:", len(df))

Skip Blank Lines: True

<ipython-input-3-dd84e3557765>:3: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("https://raw.githubusercontent.com/jprichmond20/2020ElectionStudy/main/anes_timeseries_2020_csv_20220210.csv", skip_blank_lines=skip_blank_lines)

Row count: 8280
Skip Blank Lines: False

<ipython-input-3-dd84e3557765>:3: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("https://raw.githubusercontent.com/jprichmond20/2020ElectionStudy/main/anes_timeseries_2020_csv_20220210.csv", skip_blank_lines=skip_blank_lines)

Row count: 8280

In [4]:
print("Unique values:", df[df.columns[0]].unique(), "\n")

Unique values: ['ANES2020TimeSeries_20220210']

In [5]:
df

,version,V200001,V160001_orig,V200002,V200003,V200004,V200005,V200006,V200007,V200008,...,V203518,V203519,V203520,V203521,V203522,V203523,V203524,V203525,V203526,V203527
0,ANES2020TimeSeries_20220210,200015,401318,3,2,3,0,-2,-2,-2,...,Thomas Jeffery 'Tom' Cole,1,-1. Inapplicable,-1,-1,82,-1. Inapplicable,-1,-1. Inapplicable,-1
1,ANES2020TimeSeries_20220210,200022,300261,3,2,3,0,4,-1,3,...,Michael Keith 'Mike' Simpson,1,-1. Inapplicable,-1,-1,-1,-1. Inapplicable,-1,-1. Inapplicable,-1
2,ANES2020TimeSeries_20220210,200039,400181,3,2,3,0,-2,-2,-2,...,Scott William Taylor,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
3,ANES2020TimeSeries_20220210,200046,300171,3,2,3,0,-2,-2,-2,...,Devin Gerald Nunes,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
4,ANES2020TimeSeries_20220210,200053,405145,3,2,3,1,-2,-2,-2,...,Kenneth R. 'Ken' Buck,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8275,ANES2020TimeSeries_20220210,535315,-1,1,6,3,0,-2,-2,-2,...,Neal Patrick Dunn,1,-1. Inapplicable,-1,-1,82,-1. Inapplicable,-1,-1. Inapplicable,-1
8276,ANES2020TimeSeries_20220210,535360,-1,1,6,3,0,1,1,1,...,Michael Keith 'Mike' Simpson,1,-1. Inapplicable,-1,-1,-1,-1. Inapplicable,-1,-1. Inapplicable,-1
8277,ANES2020TimeSeries_20220210,535414,-1,2,6,3,0,-2,-2,-2,...,Kenneth S. 'Ken' Calvert,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
8278,ANES2020TimeSeries_20220210,535421,-1,3,6,3,0,-2,-2,-2,...,Robert J. 'Rob' Wittman,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
8279,ANES2020TimeSeries_20220210,535469,-1,1,6,3,0,-2,-2,-2,...,H. Morgan 'Morgan' Griffith,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1

In [6]:
df.head()

,version,V200001,V160001_orig,V200002,V200003,V200004,V200005,V200006,V200007,V200008,...,V203518,V203519,V203520,V203521,V203522,V203523,V203524,V203525,V203526,V203527
0,ANES2020TimeSeries_20220210,200015,401318,3,2,3,0,-2,-2,-2,...,Thomas Jeffery 'Tom' Cole,1,-1. Inapplicable,-1,-1,82,-1. Inapplicable,-1,-1. Inapplicable,-1
1,ANES2020TimeSeries_20220210,200022,300261,3,2,3,0,4,-1,3,...,Michael Keith 'Mike' Simpson,1,-1. Inapplicable,-1,-1,-1,-1. Inapplicable,-1,-1. Inapplicable,-1
2,ANES2020TimeSeries_20220210,200039,400181,3,2,3,0,-2,-2,-2,...,Scott William Taylor,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
3,ANES2020TimeSeries_20220210,200046,300171,3,2,3,0,-2,-2,-2,...,Devin Gerald Nunes,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
4,ANES2020TimeSeries_20220210,200053,405145,3,2,3,1,-2,-2,-2,...,Kenneth R. 'Ken' Buck,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1

In [7]:
df = df[["V201004", "V201005", "V201008", 
                    "V201024", "V201029", "V201030", "V201651", 
                    "V201645", "V201628", "V201627", "V201626", 
                    "V201622", "V201620", "V201607", "V201606", 
                    "V201602", "V201600", "V201601", "V201594", 
                    "V201589", "V201575", "V201565x", "V201550", 
                    "V201549x", "V201540", "V201531", 
                    "V201530y", "V201515", "V201511x", "V201508", 
                    "V201507x", "V201462", "V201453", "V201435", 
                    "V201433", "V201432x", "V201426x", "V201417", 
                    "V201416", "V201411x", "V201393", "V201379", 
                    "V201377", "V201366", "V201364", "V201359x", 
                    "V201335", "V201244", "V201242", "V201241", 
                    "V201240", "V201239", "V201237", "V201231x", 
                    "V201232", "V201220", "V201216", "V201156", 
                    "V201157", "V201122", "V201123", "V201121", 
                    "V201114", "V201100", "V201103", "V201036", 
                   "V201018"]]

In [8]:
df.head()

,V201004,V201005,V201008,V201024,V201029,V201030,V201651,V201645,V201628,V201627,...,V201156,V201157,V201122,V201123,V201121,V201114,V201100,V201103,V201036,V201018
0,-1,2,1,-1,-1,-1,1,3,3,1,...,0,85,5,1,1,1,1,2,-1,2
1,-1,4,1,-1,-1,-1,3,4,0,2,...,0,50,3,3,1,2,2,5,-1,4
2,-1,1,1,-1,-1,-1,3,1,0,3,...,60,0,5,5,1,2,1,1,-1,-1
3,-1,2,1,-1,-1,-1,1,1,0,4,...,50,70,4,4,2,2,2,1,-1,2
4,-1,2,1,-1,-1,-1,2,1,0,4,...,20,70,3,3,4,2,1,2,-1,4

In [9]:
df

,V201004,V201005,V201008,V201024,V201029,V201030,V201651,V201645,V201628,V201627,...,V201156,V201157,V201122,V201123,V201121,V201114,V201100,V201103,V201036,V201018
0,-1,2,1,-1,-1,-1,1,3,3,1,...,0,85,5,1,1,1,1,2,-1,2
1,-1,4,1,-1,-1,-1,3,4,0,2,...,0,50,3,3,1,2,2,5,-1,4
2,-1,1,1,-1,-1,-1,3,1,0,3,...,60,0,5,5,1,2,1,1,-1,-1
3,-1,2,1,-1,-1,-1,1,1,0,4,...,50,70,4,4,2,2,2,1,-1,2
4,-1,2,1,-1,-1,-1,2,1,0,4,...,20,70,3,3,4,2,1,2,-1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8275,2,1,1,-1,-1,-1,2,2,0,4,...,0,100,3,3,3,2,1,-1,-1,2
8276,2,4,1,-1,-1,-1,1,4,0,2,...,40,70,4,4,2,2,1,5,-1,2
8277,-1,2,1,-1,-1,-1,2,4,0,4,...,85,50,3,5,3,2,2,-1,-1,1
8278,-1,2,1,1,2,1,1,4,1,3,...,0,70,5,4,2,2,-1,2,-1,-1
8279,2,2,1,-1,-1,-1,1,2,0,2,...,60,30,4,4,1,2,2,1,-1,-1

In [ ]:
df.rename(columns = {V2012004:})