In [2]:
# Basics and Plotting
import pandas as pd
import numpy as np
import scipy as scp
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import seaborn as sns
from itertools import chain, combinations

# Sklearn Models
import sklearn.linear_model as skl_lm
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.linear_model import Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, LeaveOneOut, KFold, cross_val_score, cross_validate
from sklearn.preprocessing import PolynomialFeatures
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression

# Alternative models
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as smf

C:\Users\jpric\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\jpric\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [4]:
dataset = pd.read_csv("anes_timeseries_2020_csv_20220210.csv")

<ipython-input-4-1814f8e60b9d>:1: DtypeWarning: Columns (15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,1508,1509) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("anes_timeseries_2020_csv_20220210.csv")

In [5]:
dataset.head()

,version,V200001,V160001_orig,V200002,V200003,V200004,V200005,V200006,V200007,V200008,...,V203518,V203519,V203520,V203521,V203522,V203523,V203524,V203525,V203526,V203527
0,ANES2020TimeSeries_20220210,200015,401318,3,2,3,0,-2,-2,-2,...,Thomas Jeffery 'Tom' Cole,1,-1. Inapplicable,-1,-1,82,-1. Inapplicable,-1,-1. Inapplicable,-1
1,ANES2020TimeSeries_20220210,200022,300261,3,2,3,0,4,-1,3,...,Michael Keith 'Mike' Simpson,1,-1. Inapplicable,-1,-1,-1,-1. Inapplicable,-1,-1. Inapplicable,-1
2,ANES2020TimeSeries_20220210,200039,400181,3,2,3,0,-2,-2,-2,...,Scott William Taylor,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
3,ANES2020TimeSeries_20220210,200046,300171,3,2,3,0,-2,-2,-2,...,Devin Gerald Nunes,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1
4,ANES2020TimeSeries_20220210,200053,405145,3,2,3,1,-2,-2,-2,...,Kenneth R. 'Ken' Buck,1,-1. Inapplicable,-1,-1,81,-1. Inapplicable,-1,-1. Inapplicable,-1

In [6]:
dataset.columns

Index(['version', 'V200001', 'V160001_orig', 'V200002', 'V200003', 'V200004',
       'V200005', 'V200006', 'V200007', 'V200008',
       ...
       'V203518', 'V203519', 'V203520', 'V203521', 'V203522', 'V203523',
       'V203524', 'V203525', 'V203526', 'V203527'],
      dtype='object', length=1771)

In [12]:
dataset2 = dataset[["V201004", "V201005", "V201008", "V201024", "V201029", "V201030", "V201651", "V201645", "V201628", "V201627", "V201626", "V201622", "V201620", "V201607", "V201606", "V201602", "V201600"]]

In [13]:
dataset2.head()

,V201004,V201005,V201008,V201024,V201029,V201030,V201651,V201645,V201628,V201627,V201626,V201622,V201620,V201607,V201606,V201602,V201600
0,-1,2,1,-1,-1,-1,1,3,3,1,4,1,1,-3,1,1,1
1,-1,4,1,-1,-1,-1,3,4,0,2,3,5,2,-3,1,1,2
2,-1,1,1,-1,-1,-1,3,1,0,3,2,2,1,-3,1,3,2
3,-1,2,1,-1,-1,-1,1,1,0,4,2,4,1,-3,2,1,1
4,-1,2,1,-1,-1,-1,2,1,0,4,2,1,1,-3,1,1,1